

<form action="/signup" method="POST">
    <h2>Sign Up</h2>

    <input type="text" id="username" name="username" required placeholder="username"><br><br>
    <input type="email" id="email" name="email" required placeholder="email"><br><br>
    <input type="password" id="password" name="password" required placeholder="password"><br><br>

    <button type="submit">Submit</button>
</form>
