<!-- <form action="/logout" method="POST">

    <input type="username" id="username" name="username" required placeholder="username">
    <br><br>
    <input type="password" id="password" name="password" required placeholder="password">
    <br><br>

    <button type="submit">Sign In</button>

</form> -->

<form action="/logout" method="get">
    <button type="submit">Logout</button>
  </form>
  