
<div class="container mx-auto">
    <div class="card w-50 bg-dark text-white inner-shadow mx-auto" style="width: 18rem;">
        <img src="" alt="" id="random-image">
          <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
        </div>
      </div>
</div>
