<%- include('partials/header') %>


<div class="container w-50 mt-5 ">
    <button onclick="loadForm('signup')" class="btn btn-primary btn-sm">Sign Up</button>
    <button onclick="loadForm('signin')" class="btn btn-primary btn-sm">Sign In</button>
</div>


<div id="form-container"></div>


<%- include('partials/footer') %>
