<%- include('partials/header') %>

<h1 class="text-center my-4">Gallery</h1>

<div class="container">
  <div class="row justify-content-center gy-4">
    <% const images = [
        "images/Flask1.jpg",
        "images/Infared_1HourExposure_GreenPepper_ copy.jpg",
        "images/MountainsEdit copy.jpg"
      ];
    %>

    <% images.forEach(img => { %>
      <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
        <div class="  overflow-hidden" style="max-width: 100%; height: auto;">
          <img src="<%= img %>" alt="Image" class="img-fluid d-block" />
        </div>
      </div>
    <% }) %>
  </div>
</div>
<%- include('partials/logout') %>

<%- include('partials/footer') %>
